@import '../../styles/contants.scss';

.wrapper {
  .container {
    flex-direction: column;
    gap: 2rem;

    p{
      color:$secondary;
    }
    .experiences {
      width: 100%;
      flex-direction: column;
      gap: 1.4rem;
      position: relative;

      .exp {
        width: 100%;
        justify-content: space-between;
        line-height: 40px;
        align-items: flex-start;

        > div {
          flex: 1;
        }

        .role {
          margin-left: 2rem;
        }

        .link {
          display: inline-block;
          margin-top: 0.5rem;
          color: #3498db;
          text-decoration: none;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
            color: #2c82c9;
          }
        }
      }

      .progressbar {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        left: 45%;
      
        .line {
          position: absolute;
          height: 95%;
          width: 4px;
          background: linear-gradient(180deg, #0D2F3F, #286F6C, #E7E7E7);
          background-size: 100% 300%;
          background-position: 0 0;
          animation: gradientFlow 3s ease-in-out infinite;
          left: 42%;
          z-index: 1;
          border-radius: 8px;
          box-shadow: 0px 0px 10px rgba(13, 47, 63, 0.7), 0px 0px 20px rgba(40, 111, 108, 0.5);
        }
      
        > div {
          flex: 1;
          padding-top: 0.8rem;
          z-index: 2;
          position: absolute;
          width: 100%;
        }
      
        .circle {
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
          position: absolute;
          left: calc(50% - 0.75rem);
          animation: moveUpDown 4s linear infinite;
      
          &:nth-child(1) {
            background: radial-gradient(circle, #0D2F3F, #286F6C);
            top: 10%;
          }
      
          &:nth-child(2) {
            background: radial-gradient(circle, #286F6C, #E7E7E7);
            top: 50%;
          }
      
          &:nth-child(3) {
            background: radial-gradient(circle, #E7E7E7, #0D2F3F);
            top: 90%;
          }
        }
      }
      
      // Keyframes for up and down movement of the circles
      @keyframes moveUpDown {
        0% {
          top: 0%;
        }
        50% {
          top: 100%;
        }
        100% {
          top: 0%;
        }
      }
      
      @keyframes gradientFlow {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 0 100%;
        }
        100% {
          background-position: 0 0;
        }
      }
    }
  }
}      
