@import '../../styles/contants.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  background-color: #fff;
  @media (max-width: $md){
    padding:1rem;
  }
  @media (max-width: $sm){
    padding:0.5rem;
  }
  .topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #effaf3;
    padding: 1rem;
    border: 3px solid $secondary; /* Replace with the color you want */
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */  

    .tabButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: $primary;
      transition: all 0.3s ease;
      margin: 0.5rem;

      &.activeTab {
        font-weight: bold;
      }

      svg {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }

      span {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .skillsGrid {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 1rem;
    }

    .skillCard {
      background-color: white;
      padding: 1.5rem;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow:0 10px 20px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      flex: 1 1 150px;

      .skillIcon {
        font-size: 2rem;
        border-radius: 50%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0f0;
      }

      span {
        margin-top: 1rem;
        font-size: 1rem;
        color: #333;
        text-align: center;
      }
    }
  }

  .highlightSection {
    background-color: #fff;
    margin: 0 1rem;
    margin-top: 2rem;
    @media (max-width: $md){
      padding:1rem;
    }
    @media (max-width: $sm){
      padding: 1 0.5rem;
    }

    .profileSummary {
      margin-bottom: 2rem;
      text-align: center;

      .primaryText {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .secondaryText {
        @media (max-width: $sm) {
          font-size: 1rem;
          line-height: 30px;
        }
        line-height: 40px;
        color:$secondary;
        font-size: 1.1rem;
        font-weight: 500
      }
    }

  }

  @media (max-width: 768px) {
    .topBar {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
    }

    .mainContent {
      .highlightSection {
        max-width: none;
        margin-top: 1rem;
      }
    }
  }
}
